<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
</head>
<body>
    <div class="success-box">
        <p>The email address you entered ( {{email.email}} ) is a VALID email address! Thank you! </p>
    </div>
    <div class="emails-show">
        <h2>Email Addresses Entered</h2>
        {% for user in users%}
            <p>{{user.email}}  {{user.created_at}}</p>
        {% endfor %}
    </div>
</body>
</html>